<div class="tasks">
    <form (submit)="addTask()">
        <input type="text"
        name="inputTask"
        placeholder="Enter task."
        class="task-input"
        [(ngModel)]="inputTask">
        <input type="submit" value="Add task" class="task-submit"/>
    </form>
    <div *ngFor="let task of tasks; let i = index;" class="task {{(task.completed? 'done':'')}}">
        <div class="id">{{i}}</div>
        <div class="content" (click)="toggleDone(i)">{{task.content}}</div>
        <div class="delete" (click)="deleteTask(i)">Delete</div>
    </div>
</div>